In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\user\Downloads\Assignment_1_2 (2)\Assignment_1 2\chit fund exercise.csv")
df.head(5)

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400

In [3]:
#Adding a column for days per month by apply function
df['Days'] = df.apply(lambda add:add.Month*30.417,axis=1)
df.head(5)

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Days
0,1,2000,40000,2500,37500,400,30.417
1,2,2000,42000,2500,39500,320,60.834
2,3,2000,45000,2500,42500,200,91.251
3,4,2000,48000,2500,45500,80,121.668
4,5,2000,40000,2500,37500,400,152.085

In [4]:
df.describe()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Days
count,25.000000,25.0,25.000000,25.0,25.000000,25.000000,25.000000
mean,13.000000,2000.0,43800.000000,2500.0,41300.000000,248.000000,395.421000
std,7.359801,0.0,2857.738033,0.0,2857.738033,114.309521,223.863059
min,1.000000,2000.0,40000.000000,2500.0,37500.000000,0.000000,30.417000
25%,7.000000,2000.0,42000.000000,2500.0,39500.000000,200.000000,212.919000
50%,13.000000,2000.0,43000.000000,2500.0,40500.000000,280.000000,395.421000
75%,19.000000,2000.0,45000.000000,2500.0,42500.000000,320.000000,577.923000
max,25.000000,2000.0,50000.000000,2500.0,47500.000000,400.000000,760.425000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
Month                                       25 non-null int64
Contribution                                25 non-null int64
Amount won by the bidder                    25 non-null int64
Chit fund organizer commission              25 non-null int64
Net amount recd by Bid winner               25 non-null int64
Amount returned to everyone in the group    25 non-null int64
Days                                        25 non-null float64
dtypes: float64(1), int64(6)
memory usage: 1.4 KB

In [6]:
df.isnull().sum()

Month                                       0
Contribution                                0
Amount won by the bidder                    0
Chit fund organizer commission              0
Net amount recd by Bid winner               0
Amount returned to everyone in the group    0
Days                                        0
dtype: int64

In [7]:
df.corr()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group,Days
Month,1.000000,NaN,0.475457,NaN,0.475457,-0.475457,1.000000
Contribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount won by the bidder,0.475457,NaN,1.000000,NaN,1.000000,-1.000000,0.475457
Chit fund organizer commission,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net amount recd by Bid winner,0.475457,NaN,1.000000,NaN,1.000000,-1.000000,0.475457
Amount returned to everyone in the group,-0.475457,NaN,-1.000000,NaN,-1.000000,1.000000,-0.475457
Days,1.000000,NaN,0.475457,NaN,0.475457,-0.475457,1.000000

In [8]:
#Annualized Return for First month 
#Intially calculate absolute value
present_NAV = 37500
initial_NAV = 2000
Absolute_returns = ((present_NAV-initial_NAV)/initial_NAV)*100
print('Absolute_returns',Absolute_returns)
#Convert months into days
AR_person_first_month = (1+Absolute_returns)**(365/df['Days'][0])-1
print('Annualized return for first month:',AR_person_first_month,'%')

Absolute_returns 1775.0
Annualized return for first month: 9.837578661015391e+38 %

In [9]:
#Annualized Return for First month is calculated by => ((principal+gain)/principal)^(1/years)-1
present_NAV = 47500
initial_NAV = 2000
Absolute_returns = ((present_NAV-initial_NAV)/initial_NAV)*100
print('Absolute_returns',Absolute_returns)
#Convert months into days
AR_person_first_month = (1+Absolute_returns)**(365/df['Days'][24])-1
print('Annualized return for last month:',AR_person_first_month,'%')

Absolute_returns 2275.0
Annualized return for last month: 39.87191855436604 %

In [10]:
initial_NAV = 2000
present_NAV = df['Net amount recd by Bid winner']
days = df['Days']

for i in present_NAV:
    Absolute_return = round(((present_NAV-initial_NAV)/initial_NAV)*100)
    print(Absolute_return)

0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64
0     1775.0
1     1875.0
2     2025.0
3     2175.0
4     1775.0
5     1875.0
6     1925.0
7     1975.0
8     1775.0
9     1875.0
10    2025.0
11    2175.0
12    1775.0
13    1875.0
14    1925.0
15    1925.0
16    1825.0
17    1875.0
18    2025.0
19    2025.0
20    1975.0
21    2075.0
22    2125.0
23    2175.0
24    2275.0
Name: Net amount recd by Bid winner, dtype: float64

In [11]:
for Absolute_return in Absolute_return:
    AR_for_every_month_bid_winner = (1+Absolute_return)**(365/760)-1
    print(AR_for_every_month_bid_winner,'%')

35.35697470697645 %
36.32614487787625 %
37.73085639473705 %
39.08248133262048 %
35.35697470697645 %
36.32614487787625 %
36.800661417020464 %
37.268817576469345 %
35.35697470697645 %
36.32614487787625 %
37.73085639473705 %
39.08248133262048 %
35.35697470697645 %
36.32614487787625 %
36.800661417020464 %
36.800661417020464 %
35.8450084799326 %
36.32614487787625 %
37.73085639473705 %
37.73085639473705 %
37.268817576469345 %
38.18700588924367 %
38.6374803221869 %
39.08248133262048 %
39.956812514922085 %